<template>
	<div class="modal-backdrop show in text-center" style="z-index: 1090;" :class="{ 'd-none': !showBackdrop }">
	</div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { Session } from '@/common/Session';

@Component({})
export default class Backdrop extends Vue {

	@Inject() session!: Session;

	get showBackdrop(): boolean {
		return this.session.showBackdrop;
	}
}
</script>
