<template>
	<b-navbar id="mainNav" toggleable="md" style="z-index: 1100;" fixed="top">
		<b-container>
			<b-navbar-brand href @click="gotoHome" role="button">
				<span style="white-space:nowrap;">
					<img src="img/logo.png" style="height:44px;margin-top:-4px;" />
				</span>
			</b-navbar-brand>
			<b-navbar-toggle target="navbarResponsive"></b-navbar-toggle>
			<b-collapse id="navbarResponsive" :visible="!isNavCollapsed" @shown="onDropMenu" is-nav>
				<b-navbar-nav class="ml-auto">
					<b-nav-item to="/equipment" @click="hide">
						Equipment
					</b-nav-item>
					<b-nav-item to="/cart" @click="hide">
						Cart
					</b-nav-item>
				</b-navbar-nav>
			</b-collapse>
		</b-container>
	</b-navbar>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { Sitemap } from '@/common/Sitemap';
import { Session } from '@/common/Session';


@Component({})
export default class Navbar extends Vue {

	activeIndex: string = '/';
	isNavCollapsed = true;

	@Inject() sitemap: Sitemap;

	created(): void {
	}

	gotoHome(): void {
		this.hide();
		this.sitemap.gotoHome();
	}

	gotoSearch(): void {
		this.hide();
		this.sitemap.gotoSearch();
	}

	reportNow(): void {
		this.hide();
		this.sitemap.gotoReportAdd();
	}

	toggle(): void {
		this.isNavCollapsed = !this.isNavCollapsed;
	}

	onDropMenu(): void {
		this.isNavCollapsed = false;
	}

	hide(): void {
		this.isNavCollapsed = true;
	}

	showLang(): void {
		this.hide();
	}
}
</script>