<template>
<div>
	<backdrop></backdrop>
	<navbar></navbar>
	<section>
		<b-container>
			<router-view></router-view>
		</b-container>
	</section>
</div>
</template>

<script lang="ts">
import { Component, Vue, Provide } from 'vue-property-decorator';
import Navbar from '@/components/Navbar.vue';
import Backdrop from '@/components/Backdrop.vue';
import { Rest } from './common/Rest';
import { FeeCalc } from './common/FeeCalc';
import { Cart } from './common/Cart';
import { Session } from './common/Session';
import { Sitemap } from './common/Sitemap';
import { EquipmentMapper } from './mapping/EquipmentMapper';
import { EquipmentService } from './services/EquipmentService';
import { LookupService } from './services/LookupService';
import { InvoiceService } from './services/InvoiceService';

@Component({
	components: { Navbar, Backdrop }
})
export default class App extends Vue {

	feeCalc = new FeeCalc();
	rest = new Rest();
	@Provide() cart = new Cart(this.feeCalc);
	@Provide() session = new Session();
	@Provide() sitemap = new Sitemap();
	@Provide() equipmentMapper = new EquipmentMapper();
	@Provide() equipmentService = new EquipmentService(this.rest);
	@Provide() lookupService = new LookupService(this.rest);
	@Provide() invoiceService = new InvoiceService(this.rest);
}
</script>