<template>
	<div>
		<b-card>
			<b-table striped hover :items="items" :fields="fields" foot-clone>
				<template slot="equipment" slot-scope="data">
					{{data.item.item.type.name}}: {{ data.item.item.name }}
				</template>
				<template slot="daysToRent" slot-scope="data">
					{{ data.item.daysToRent }}
				</template>
				<template slot="action" slot-scope="data">
					<b-button variant="outline-danger" @click="onDeleteItem(data.item)">
						<i class="fas fa-trash-alt"></i>
					</b-button>
				</template>
				<template slot="FOOT_equipment">&nbsp;</template>
				<template slot="FOOT_daysToRent">
					Sum:
				</template>
				<template slot="FOOT_points">
					{{totalPoints}}
				</template>
				<template slot="FOOT_fee">
					{{totalFee}}
				</template>
				<template slot="FOOT_action">&nbsp;</template>
			</b-table>
		</b-card>
		<b-button variant="outline-success" @click="onGenerateInvoice" :disabled="items.length === 0">
			Generate Invoice
		</b-button>
	</div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { Cart } from '@/common/Cart';
import { CartItem } from '@/model/CartItem';
import { InvoiceService } from '@/services/InvoiceService';
import { GenerateInvoiceRequest } from '@/dto/GenerateInvoiceRequest';


@Component({})
export default class CartView extends Vue {

	@Inject() cart: Cart;
	@Inject() invoiceService: InvoiceService;

	items: CartItem[] = [];
	totalPoints: number = 0;
	totalFee: number = 0;
	fields = [
		{ key: 'equipment' },
		{ key: 'daysToRent' },
		{ key: 'points' },
		{ key: 'fee' },
		{ key: 'action' }
	];

	created(): void {
		this.items = this.cart.getItems();
		this.recalculate();
	}

	onDeleteItem(item: CartItem): void {
		this.cart.removeItem(item);
		this.recalculate();
	}

	onGenerateInvoice(): void {
		let request: GenerateInvoiceRequest = {
			lang: 'en',
			items: []
		};
		for(let item of this.items) {
			request.items.push({
				equipmentCode: item.item.code,
				daysToRent: item.daysToRent
			});
		}

		this.invoiceService.generateInvoice(request);
	}

	recalculate(): void {
		let totalFee = 0;
		let totalPoints = 0;
		for (let item of this.items) {
			totalPoints += item.points;
			totalFee += item.fee;
		}

		this.totalFee = totalFee;
		this.totalPoints = totalPoints;
	}
}
</script>
