<template>
	<div>
		<b-table striped hover :items="items" :fields="fields" caption-top>
			<template slot="table-caption">Equipment List</template>
			<template slot="type" slot-scope="data">
				{{ data.value.name }}
			</template>
			<template slot="action" slot-scope="data">
				<b-button variant="outline-primary" @click="onAddToCart(data.item)">
					<i class="fas fa-cart-plus"></i>
				</b-button>
			</template>
		</b-table>
		<b-modal id="addToCart" title="Add To Cart" centered @ok="onOkAddToCart">
			<b-form>
				<div class="form-group row">
					<b-col sm="4">
						<label class="col-form-label">Equipment</label>
					</b-col>
					<b-col sm="8">
						<b-form-input v-model="item.name" readonly plaintext></b-form-input>
					</b-col>
				</div>
				<div class="form-group row">
					<b-col sm="4">
						<label class="col-form-label">Days to Rent</label>
					</b-col>
					<b-col sm="4">
						<b-input-group>
							<b-input-group-prepend>
								<b-button variant="outline-success" @click="daysToRent--"><i class="fas fa-minus"></i></b-button>
							</b-input-group-prepend>
							<b-form-input v-model="daysToRent"></b-form-input>
							<b-input-group-append>
								<b-button variant="outline-success" @click="daysToRent++"><i class="fas fa-plus"></i></b-button>
							</b-input-group-append>
						</b-input-group>
					</b-col>
				</div>
			</b-form>
		</b-modal>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Inject} from 'vue-property-decorator';

import { LookupService } from '@/services/LookupService';
import { EquipmentService } from '@/services/EquipmentService';

import { Cart } from '@/common/Cart';

import { Equipment } from '../model/Equipment';
import { EquipmentTypeDto } from '../dto/EquipmentTypeDto';
import { EquipmentMapper } from '@/mapping/EquipmentMapper';
import { Session } from '../common/Session';

@Component({})
export default class EquipmentList extends Vue {

	@Inject() lookupService!: LookupService;
	@Inject() equipmentService!: EquipmentService;
	@Inject() equipmentMapper!: EquipmentMapper;
	@Inject() cart: Cart;
	@Inject() session: Session;

	equipmentTypes: EquipmentTypeDto[] = [];
	items: Equipment[] = [];
	item: Equipment = <any>{};
	daysToRent = 1;
	fields = [
		{ key: 'code', sortable: true },
		{ key: 'name', sortable: true },
		{ key: 'type', sortable: true },
		{ key: 'action' }
	];

	created(): void {
		this.session.showBackdrop = true;
		this.lookupService.getEquipmentTypes()
			.then(types => this.equipmentTypes = types)
			.then(() => this.equipmentService.getAll('en'))
			.then(items => this.items = this.equipmentMapper.toListModel(items, this.equipmentTypes))
			.finally(() => this.session.showBackdrop = false);
	}

	onAddToCart(item: Equipment): void {
		this.daysToRent = 1;
		this.$bvModal.show('addToCart');
		this.item = item;
	}

	onOkAddToCart(): void {
		this.$bvModal.hide('addToCart');
		this.cart.addToCart(this.item, this.daysToRent);
	}
}
</script>
